<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="./src/icon.png">
    <title>Syntax highlighter</title>
</head>
<body>
    <div class="header">
        <h1 class="title">Syntax highlighter</h1>
        <p class="author">Brandon Josué Magaña Mendoza | A01640162</p>
        <div class="legend">
            <p class="legend-p">Legend: </p>
            <ul>
                <li><p class= "color-1" style="margin:0"> Reserved Word</li>
                <li><p class= "color-2" style="margin:0"> Special Symbol </li>
                <li><p class= "color-3" style="margin:0"> Boolean </li>
            </ul>
            <ul>
                <li><p class= "color-4" style="margin:0"> Comment </li>
                <li><p class= "color-5" style="margin:0"> Float Number </li>
                <li><p class= "color-6" style="margin:0"> Integer </li>
            </ul>
            <ul>
                <li><p class= "color-7" style="margin:0"> Variable </li>
                <li><p class= "color-8" style="margin:0"> Logic Operator </li>
                <li><p class= "color-9" style="margin:0"> Delimiter </li>
            </ul>
            <ul>
                <li><p class= "color-10" style="margin:0"> Character </li>
                <li><p class= "color-11" style="margin:0"> Operator </li>
                <li><p class= "color-12" style="margin:0"> String </li>
            </ul>
        </div>
    </div>
    <div id="code">

    </div>
</body>
</html>